body {
  display: flex;
  justify-content: center;
}

.app {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 5px;
}

.distance {
    align-self: flex-end;
}

.canvas {
    border: 1px solid black;
    box-sizing: border-box;
}
