#myCanvas {
    border: medium;
    border-color: red;
    border-style: solid;
}
.btn {
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
}
.btn:hover {
    color: coral;
    border-color: grey;
}